* {
  margin: 0%;
  font-family: monospace;
}

::placeholder {
  color: black;
}

.login-style {
  margin: 0% 40%;
}
.login-background {
  background-image: url(./images/logo.png);
  background-size: 20%;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-color: #d9d9d9;
  height: 100vh;
}

.login-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 85%;
  padding-top: 40%;
}

.login-slogan {
  text-align: center;
  font-size: 32px;
}

.login-message {
  text-align: center;
}

.login-button {
  margin: 5px 40%;
  height: 25px;
  width: 70px;
  border: none;
  border-radius: 12.5px;
  background-color: #29BDC5;
}

.login-anchor {
  color: blue;
  display: inline-block;
  width: 300px;
}

.login-input {
  text-align: center;
  width: 190px;
  margin: 5px 5px; 
  border: none;
  border-radius: 15px;
  background-color: #29BDC5;
  height: 30px;
}

.login-container {
  font-size: 16px;
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content:space-between;
  background-color: #d9d9d9;
  grid-area: 1 / 1 / 2 / 3;
}

.navlist {
  list-style-type: none;
}

.logout-button {
  margin: 25px 20px;
  height: 25px;
  width: 70px;
  border: none;
  border-radius: 12.5px;
  background-color: #29BDC5;
}

.logout-button:hover {
  cursor: pointer;
}

.upload-logo {
  position: absolute;
  top: 0%;
  right: 0%;
  margin-right: 500px;
  margin-top: 12px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #d9d9d9;
  color: black;
}

.header {
  padding: 10px;
  position: absolute;
  left: 200px;
  font-size: 50px;
}

.page-logo {
  height: 70px;
  width: 57px;
}

.search-button {
  position: absolute;
  right: 0%;
  top: 2.2%; 
  margin-right: 130px;
  height: 40px;
  z-index: 1;
  border: none;
}

.search-bar {
  position: absolute;
  right: 0%;
  top:0.75%;
  margin-right: 110px;
  background-color: #29BDC5;
  height: 60px;
  width: 350px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 35px;
}

.homepage {
  display: grid;
  height: 100vh;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 0.75fr 2fr 5fr;
  text-align: center;
}

.welcomebackbanner{
  background-color: #29BDC5;
  border-radius: 50px;
  margin: 10px;
  font-size: 48px;
}

.profiletab {
  background-color: #d9d9d9;
  border-radius: 50px;
  margin: 10px;
}

.newsfeed {
  background-color: #d9d9d9;
  border-radius: 50px;
  margin: 10px;
}

.coursetab {
  background-color: #29BDC5;
  border-radius: 50px;
  margin: 10px;
}

.upload-form {
  position:absolute;
  top: 10%;
  left: 35%;
  display: grid;
  font-size: 24px;
}

.upload-legend {
  margin-top: 15px
}

.upload-input {
  text-align: center;
  font-size: inherit;
  height: 33px;
  width: 476px;
  border: none;
  border-radius: 20px;
  background-color: #29BDC5;
  display: flex;
  justify-content: space-evenly;
}

.upload-year {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: inherit;
  width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.upload-fieldset {
  background-color: #29BDC5;
  border: none;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.option-label {
  margin-left: 25px;
}

.dropbox {
  background-color: #29BDC5;
  height: 100px;
  width: 478px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.dropbox-text {
  font-size: inherit;
  text-align: center;
  padding: 24px;
  width: 439px;
}

.upload-button {
  margin: 5px 40%;
  height: 25px;
  width: 70px;
  border: none;
  border-radius: 12.5px;
  background-color: #29BDC5;
  cursor: pointer;
}

.list {
  font-size: 2rem;
  margin: 5px;
}

table {
  text-align: left;
  border-spacing: 15px;
}
.card {
  background-color: #29BDC5;
  margin: 0.05em auto;
  padding: 15px;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  width: 110%;
}

.emptylist {
  text-align: center;
  width: 100%;
  padding-top: 35vh;
  font-size: 64px;
}

.profile-image {
  margin: 50px;
  height: 300px;
  max-height: 300px;
  min-width: 300px;
  border-radius: 50%;
}